#agree-btn {
  padding: 20px 60px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}

#agree-checkbox {
  width : 30px;
  height : 30px;
}