body {
  display: block;
}

.form-patient {
  width: 100%;
  max-width: 500px;
  padding: 15px 15px 5px;
  margin: auto;
}

.form-patient-skip {
  width: 100%;
  max-width: 500px;
  padding: 0 15px 15px;
  margin: auto;
}
