<main role="main" class="container">
    <div class="mt-5">
        <div class="media pt-3">
            <a class="media-body h4 pb-3 mb-0 border-bottom border-gray" href="https://www.pfizer.com/science/clinical-trials/guide-to-clinical-trials/?cid=se_Clinical-Trials_0320_google_BAU-Eng_423916876739_clinical%20trials%20explained_Part_Corp_Clinical-Trials&gclid=EAIaIQobChMIpezl8dbC6gIVF5SzCh0mHg_fEAAYASAAEgKVOvD_BwE">
                {{lang.whatisclinicaltrial}}
            </a>
        </div>
        <div class="media pt-3">
            <a class="media-body h4 pb-3 mb-0 border-bottom border-gray" href="https://www.youtube.com/watch?v=36Sd8WpgR94">
                {{lang.whyshouldiparticipate}}
            </a>
        </div>
        <div class="media pt-3">
            <a class="media-body h4 pb-3 mb-0 border-bottom border-gray" href="https://www.nia.nih.gov/health/what-are-clinical-trials-and-studies">
                {{lang.whathappensclinicaltrials}}
            </a>
        </div>
    </div>
</main>

{{#assetLink 'script'}}
    <script src="js/default.bundle.js"></script>
{{/assetLink}}
