<main role="main" class="container">
    <div class="text-center">
        <h1 class="mt-5 mb-5">Thank you for visiting the Mount Sinai interactive Online Patient Enrollment
            Network (iOPEN) system.</h1>
    </div>

    <div class="text-center">
        <a href="{{data.url}}" class="btn btn-lg btn-secondary">Back to home</a>
    </div>
</main>

{{#assetLink 'script'}}
    <script src="js/logout.bundle.js"></script>
{{/assetLink}}
